DATABASE_URL=postgresql+psycopg2://postgres:mysecretpassword@localhost:5432/postgres
# OR
# If you are using separate variables:
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

CLOUDINARY_NAME=...
CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=...

MAIL_USERNAME=...
MAIL_PASSWORD=...
MAIL_FROM=...
MAIL_PORT=...
MAIL_SERVER=...

SECRET_KEY=...
ALGORITHM=...
