DATABASE_URL=postgresql+psycopg2://postgres:mysecretpassword@localhost:5432/postgres
# OR
# If you are using separate variables:
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432